@font-face 
{
	font-family: 'bandmess';
	src: url('../fonts/bandmess.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

body 
{
    background-color: black;
		height: 100%;
		text-align: center;
}

a img:hover
{
	outline: 2.5px solid white;
}

a:link
{
	text-decoration: none;
}

h1 a:hover
{
	text-decoration: none;
	border-bottom: 3px solid white;
}

a, h1, h2, h3, h4, h5
{
	font-family: 'bandmess';
	color: white;
	letter-spacing: 1px;
}

#logo
{
    max-width: 27%;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 10%;
    min-height: 10%;
}

#links
{
	margin: 10px;
}

#links a
{
	padding: 8px;
}

#closed
{
	display: none;
}
